<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.expensecontrol">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_budgeting"
        android:label="Kirim-Chiqim Hisobchi"
        android:roundIcon="@drawable/ic_budgeting"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExpenseControl">
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>